.loader{
   width: 200px;
   height:200px;
   border-radius: 50%;
   border-bottom: 20px solid #00ff88;
   border:20px solid pink; 
   animation: spinanimate 3s ease-in 0s infinite normal;

}
@keyframes spinanimate{
    from{
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}